DATABASE_URL="postgresql://postgres:rXDTCChjCndgkLzcwcUqwBgktJjcOsqf@postgres.railway.internal:5432/railwayc"
ADMIN_EMAIL="chzbloom123@gmail.com"
ADMIN_PASSWORD="AIerDJ525"
JWT_SECRET="k9#mP2$vXqL8nRjT5wYhA3uCeZbN6sGdF4xQiMoWp7K1"
PORT=3000
