DATABASE_URL="postgresql://user:password@interchange.proxy.rlwy.net:26571/railway?schema=public"
ADMIN_EMAIL="chzbloom123@gmail.com"
ADMIN_PASSWORD="AIerDJ525"
JWT_SECRET="k9#mP2$vXqL8nRjT5wYhA3uCeZbN6sGdF4xQiMoWp7K1"
PORT=3000
